/target/
/bin/
/html/
/.pom.xml.swp
/pensive.config
/pensive.log
/pensive.log.1
/pensive.log.2
/pensive.log.3
/pensive.log.4
/pensive.log.5
/pensive.log.6
/pensive.log.7
/pensive.log.8
/pensive.log.9
/.DS_Store
