# nonsensical inputs will produce nonsensical outputs
#
# all paths use '/' as a separator.
# I'll convert them for use with your OS if needed


##########################################
# Global Directives                      #
#                                        #
# These directives cannot be overridden. #
##########################################

# debug=gov.usgs

# filesystem path to directory containing output files
#pathRoot=html/

# Julian
#filePathFormat=yyyy/DDD
#fileSuffixFormat=_yyyyDDD-HHmm

# Gregorian
#filePathFormat=yyyy/MM/dd
#fileSuffixFormat=_yyyyMMdd-HHmm

# which network is intially shown
selectedNetwork=AVO

# should I write the html file?
#writeHtml=true


################
# Data Sources #
################

waveSource=pubavo1
pubavo1.type=wws
pubavo1.host=pubavo1.wr.usgs.gov
#pubavo1.port=16022
#pubavo1.timeout=15
#pubavo1.threads=5

#####################
# Subnet Directives #
#####################

# delay plot creation this many seconds. Useful to account for data latency
#embargo=90

# where to get waveform data
dataSource=pubavo1

######################
# Channel Directives #
######################

# default spectrogram parameters
#waveRatio=25
#overlap=0.859375
#logPower=true
#minFreq=2
#maxFreq=10
#nfft=0
#binSize=256
#maxPower=120
#minPower=40


######################
# Subnets            #
######################
network=AVO
AVO.dataSource=pubavo1

AVO.subnet=Spurr
AVO.Spurr.channel=CKL EHZ AV
AVO.Spurr.channel=CKN EHZ AV
AVO.Spurr.channel=CKT EHZ AV
AVO.Spurr.channel=CRP EHZ AV

AVO.subnet=Redoubt
AVO.Redoubt.channel=RDDF BHZ AV
AVO.Redoubt.channel=RSO EHZ AV	
AVO.Redoubt.channel=NCT BHZ AV
AVO.Redoubt.channel=DFR EHZ AV
AVO.Redoubt.channel=RED BHZ AV
AVO.Redoubt.channel=RDT EHZ AV

AVO.subnet=Iliamna
AVO.Iliamna.channel=ILI EHZ AV
AVO.Iliamna.channel=ILS EHZ AV
AVO.Iliamna.channel=IVE EHZ AV
AVO.Iliamna.channel=INE EHZ AV

AVO.subnet=Augustine
AVO.Augustine.channel=AUCH BHZ AV
AVO.Augustine.channel=AUW EHZ AV
AVO.Augustine.channel=AU22 BHZ AV
AVO.Augustine.channel=AUE EHZ AV
AVO.Augustine.channel=AUP EHZ AV
AVO.Augustine.channel=AUH EHZ AV